<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active tab-text">
        <a href="#Bill-Bio" role="tab" data-toggle="tab" class="about-tab">Bill</a></li>
    <li role="presentation" class="tab-text">
        <a href="#Dave-Bio" role="tab" data-toggle="tab" class="about-tab">David</a></li>
    <li role="presentation" class="tab-text">
        <a href="#Michael-Bio" role="tab" data-toggle="tab" class="about-tab">Michael</a></li>
</ul>
<div class="tab-content">
    <div role="tab" class="tab-pane fade active in" id="Bill-Bio">
        <div style="padding-top: 20px;">
    <h2 class="bio-heading"><img src="../../img/bios/Bill-Bio.jpg" class="bio-image">Bill Kendrick</h2>
<div class="bio-body">
    <p><b>Location:</b> Davis, CA, USA</p>
    <p><b>About:</b> I've been an Atari user since as long as I can remember, starting with faint memories of Pong, which was
        soon replaced with a 4-switch 2600 and a small collection of games (supplemented by borrowed games from neighbors).
        I spent countless hours hacking in Atari BASIC, trying to make games (since I owned almost none) and utilities, even
        going as far as making my own (cruddy) attempts at word processors, so I could do school work (I eventually got AtariWriter,
        but it took a while!) I got on the Internet on my Atari, via a local BBS that connected to email and Usenet once
        a day, and even fetched files off of an FTP server via email... talk about tedious!</p>
    <p><b>Vintage Systems Owned:</b> Atari: 2600, 7800, Lynx, Jaguar, 1200XL, 800XL Nintendo: NES, GameBoy Advance, Wii PlayStation:
        1 &amp; 2 Sega: Genesis, Dreamcast Commodore: Amiga 500</p>
    <p><b>First computer/console:</b> Timex Sinclair 1000, a hand-me-down from my older brother when he got his Commodore 64,
        in 1983 if I recall correctly. Within a year, supplanted by my Atari 1200XL (which I have to this day, set up in
        my home office).</p>
    <p><b>Favorite vintage game(s):</b> I can never answer this question, since it varies depending on my mood, the platform,
        and what genre I should focus on. Star Raiders is up there, as is Tetris and the original-style Super Mario brothers
        (including "New SMB Wii"). Twisted Metal, Tekken, and WipeOut on the PlayStation were addictions during my college
        years.
    </p>
    <p><b>Other thoughts:</b> Ironically, I don't own an XEGS (yet), and had never had plans to own one, since my needs have
        been met by my XLs -- and the 1200XL's keyboard can't be beat. In the late 80s, I felt the Atari 8-bit could still
        compete with the Nintendo, but the software just wasn't doing it -- even as a kid (though I didn't know/use this
        term), it seemed like an 'also ran'. I did appreciate being able to pick up the XEGS-era remake of Mario Bros. for
        the Atari at a game store, especially due to the irony of it being a Nintendo game.</p>
</div>
</div>
</div>
<div role="tab" class="tab-pane fade" id="Dave-Bio">
    <div style="padding-top: 20px;">
    <h2 class="bio-heading"><img src="../../assets/img/bios/David-Bio.png" class="bio-image" />David Vucetic</h2>
<div class="bio-body">
    <p><b>Location:</b> Ontario, Canada</p>
    <p><b>About:</b> Growing up in the 1970's and 80's was special. It was the beginning of many things like computer and console
        games, Japanese Super Robot Shows like Force 5 i.e. Grendizer and other anime like Battle of the Planets. As I pass
        through my middle age I have a great nostalgia for that special time that will never be repeated again. The saying
        "the good old days" holds true. Through computer games and my other various retro hobbies I am re-visiting great
        times and memories and finding some new ones that I missed along the way</p>
    <p><b>Vintage Systems Owned:</b> Atari VCS, Atari 7800, Atari 800, Atari XEGS, Commodore 64</p>
    <p><b>First computer/console:</b> The Atari 5200 Super System was my first console that my brother and I got around 1983.
        Lots of great memories playing Wizard of Wor and Pac-Man</p>
    <p><b>Favorite vintage game(s):</b> My favourite games have always been two player games as I have my best memories either
        competing or cooperating with my brother and friends. Games like Wizard of Wor, M.U.L.E., Mail order Monsters, Archon
        and the like.</p>
    <p><b>Other thoughts:</b> The 1970's and 80's was a very dynamic time with many new experiences. Game designers had to work
        with the limitations of the hardware and really get creative. I think that's why so many classic games are still
        loved today. I want to relive and share my Atari 8 Bit experiences with the listeners and help others get into the
        hobby if there still sitting on the fence. I want the podcast to be accessible to both the novice and experienced
        Atarian. I want to give the Atari 8 Bits systems their fair due and especially the overlooked Atari XEGS. I have
        always loved Atari 8 Bit computers and consoles and the Atari XEGS is the best of both. I hope once the listeners
        get to know the XEGS they will agree that it's an underrated system that deserves a second chance</p>
</div>
</div>
</div>
<div role="tab" class="tab-pane fade" id="Michael-Bio">
    <div style="padding-top: 20px;">
<h2 class="bio-heading">Michael Glaser</h2>
<div class="bio-body">
    <p><b>Alias:</b> Michael Gee, Justin Payne</p>
    <p><b>Location:</b> Seattle, WA, USA</p>
    <p><b>About:</b> My first taste of video games were those found in arcades, grocery stores, mini-marts, and hotels. They
        were everywhere. Pong was the first game we got at home but the 2600 was when I became a true Atari fanboy. Although
        we had Apples in school, the Atari computers had Star Raiders and that love for Atari's stretched into the ST line.
        Sadly, we all know how that ended and my gaming attention naturally transitioned to the PC, Nintendo, and Xbox</p>
    <p><b>Vintage Systems Owned:</b> Although I held onto several of my past system (Pong, 7800, Atari ST, &amp; Falcon), I
        made the mistake of selling off my Atari 2600, 5200, 800, 130XE, and NES. Now that I've gotten back into the scene,
        I've constantly trying to add to my list, which includes the Atari(800xl, 130XE), Apple (][gs, Mac SE/30, iMac G3,
        Centris 610), TRS-80 Model III, Odyssey II, Osborne 1, C64, and TI-99 4/A. I look forward to getting my hands on
        an Atari 800, just cuz that was my first system and it's just a beautiful looking system and I'm happy to have recently
        been able to find my second computer, the 130XE. It's not a XEGS but I hope it's close enough for you all to respect
        my reviews of the games I play on it.</p>
    <p><b>First computer/console:</b> My first gaming system was the Pong, which I currently still have but first console my
        2600 "sixer". My first computer was an Atari 800 with 48K</p>
    <p><b>Favorite vintage game(s):</b> Oh, there are so many favorites. I practically grew up in arcades and a lot of us has
        some kind of console at home. When I switched to the Atari computers, BBS's and fellow Atari owners gave me an ample
        supply of games. Although I had fun playing the games, it was also the experience walking to the arcades with my
        friends and trying the new games that had arived. Going head to head with console games. Spending so many hours exploring
        Britania. Even typing in games from magazines. I feel very lucky getting to grow up when I did</p>
    <p><b>Other thoughts:</b> I want to thank Rob from Player/Missile procast. He not only gave me my first shot at podcasting
        but he put me in touch with Dave and Bill to help make this thing possible. I hope you all enjoy what we're doing
        here and if you ever wanted to do something like this and feel like you have something to contrubute, just go for
        it. I also want to thank the awesome effort that the guys at the Antic podcast have done with regards to the interviews.
        This is historic content and will be useful for years to come. Finally, I want to thank all of you people that keep
        the retro systems alive, either by making content available online, building new hardware to keep extending the systems
        capabilities, and making those cool homebrew software titles. Way to go all of you!
    </p>
</div>
</div>
</div>
<div role="tab" class="tab-pane fade" id="General-Show-Info">
    <div style="padding-top: 20px;">
    <h2 class="bio-heading"><img src="../../img/bios/xegs.png" class="bio-image">General Show Info</h2>
    <div class="bio-body">
        <h3>Music</h3>
        <h4>Current Music</h4>
        <ul>
            <li>Composer: Michelle Sternberger (AKA: ComputerHer)</li>
            <li>Song Title: Software</li>
            <li>First Episode Used: 2</li>
        </ul>
        <h4>Previous Music</h4>
        <ul>
            <li>Composer: Eric Skiff</li>
            <li>Song Title: A Night of Dizzy Spells</li>
            <li>First Episode Used: 0</li>
        </ul>
        <h3>Software</h3>
        <h4>Audio Recording</h4>
        <ul>
            <li>Name:</li>
            <li>Current Version:</li>
        </ul>
        <h4>Audio Editing</h4>
        <ul>
            <li>Name:</li>
            <li>Current Version:</li>
        </ul>
        <h3>Hardware</h3>
        <h4>Microphones</h4>
        <ul>
            <li>Bill:</li>
            <li>David:</li>
            <li>Michael: Corsair Vengeance 1500</li>
        </ul>
    </div>
    </div>
    </div>
    </div>