<main class="col-lg-10 col-md-9 col-sm-9 col-xs-12" style="padding-top: 25px;">
  <form [formGroup]="StorageDeviceAdminComponent" class=".form-horizontal" novalidate (ngSubmit)="onSubmit(storagedeviceadmin)">
    <div class="form-group row">
      <h2>Company Information</h2>
      <label class=".control-label" class="col-sm-3 col-form-label">Manufacturer</label>
      <div class="col-sm-6"><input type="text" placeholder="Name of the Organization" formControlName="Organization-Name" /></div>
    </div>
    <div class="form-group row">
      <h2>Device Hardware Info</h2>
      <label class=".control-label" class="col-sm-3 col-form-label"><span class="no-wrap">Initial Hardware Release Date</span></label>
      <div class="col-sm-6"><input type="date" /></div>
    </div>
  </form>
</main>
<app-sidebar></app-sidebar>