<!-- ASIDE SECTION -->
<aside class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Related Podcasts</h3>
        </div>
        <div class="panel-body text-center ">
            <a href="https://www.facebook.com/TheAtari5200Podcast/" title="The Atari 5200 Podcast" target="_blank">
                <img src="img/podcasts/Atari_5200_FB_Profile.png" class="img-thumbnail" />
            </a>
            <a href="http://playermissile.com/" title="The Player/Missile Podcast" target="_blank">
                <img src="img/podcasts/PM_logo.png" class="img-thumbnail" />
            </a>
            <a href="http://2600gamebygamepodcast.libsyn.com/" title="The 2600 Game by Game Podcast" target="_blank">
                <img src="img/podcasts/2600CbC.jpg" class="img-thumbnail" />
            </a>
            <a href="http://ataripodcast.libsyn.com/" title="The Atari Antic Podcast" target="_blank">
                <img src="img/podcasts/Antic.png" class="img-thumbnail" />
            </a>
            <a href="http://the5200superpodcast.blogspot.com/" title="The 5200 Super Podcast" target="_blank">
                <img src="img/podcasts/super5200.jpg" class="img-thumbnail" />
            </a>
            <a href="http://atari7800gamebygamepodcast.blogspot.com/" title="The 7800 Game by Game Podcast" target="_blank">
                <img src="img/podcasts/NoSwearGamer.jpg" class="img-thumbnail" />
            </a>
            <a href="http://inverseatascii.info/" title="InverseAtascii Atari 8-bit Productivity Podcast" target="_blank">
                <img src="img/podcasts/InverseAtasciiCart.jpg" class="img-thumbnail" />
            </a>
            <a href="http://throwbacknetwork.net/" title="The Throwback Network" target="_blank">
                <img src="img/podcasts/ThrowbackNetwork.png" class="img-thumbnail" />
            </a>
        </div>
    </div>
</aside>