.panel-default>.panel-heading {
    background-color: #7980C7;
    border-color: #444B8F;
}

.panel-body {
    background-color: #8D93C7;
}

.img-thumbnail {
    max-width: 110px;
    max-height: 120px;
    margin-bottom: 3px;
}