/*This is a custom CSS file sheet*/


/*html {
    background-image: url(../img/XegsBackgroundHalf.jpg);
    background-repeat: repeat-x;
    padding: 0 10em 0 10em;
    background-color: #060839;
 } */

#title-banner {
    background: url('assets/img/XEGSHeadingBackground.jpg') no-repeat center top fixed;
    text-align: center;
    position: relative;
    padding: 57px;
    background-position: 0px 54px;
    height: 400px
}

#logo {
    background-image: url('assets/img/XEGSCartByCartLogo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    display: block;
    width: 700px;
    height: 234px;
    text-indent: -20000em;
    float: none;
    margin: 0 auto;
}

body {
    border-radius: 0 0 9px 9px;
    font-family: 'Khula', sans-serif;
    font-size: 200%;
}

.page-content {
    padding-left: 8%;
    padding-right: 8%;
}

.article-image {
    border-radius: 6px;
    border-color: black;
    border-width: 1px;
    border: 2px solid black;
    margin-right: 10px;
    width: 200px;
}

article {
    vertical-align: text-top;
    margin-bottom: 2em;
}

.article-title {
    margin-top: -20px;
    font-family: 'Monofett', cursive;
    font-size: 250%;
    white-space: nowrap;
}

.article-summary {
    font-style: italic;
    font-weight: 600;
}

.img-thumbnail {
    max-width: 110px;
    max-height: 120px;
    margin-bottom: 3px;
}

.col-lg-2,
.col-md-3,
.col-sm-3>.panel-title {
    text-align: center;
}

h2.bio-heading {
    border: 1px solid #000;
    background-color: #8D93C7;
    border-radius: 10px;
    font-size: 300%;
}

.bio-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

div.bio-body {
    padding: 20px 0 0 10px;
}

audio {
    width: 90%;
}