
<!-- MAIN PAGE CONTENT -->
<div class="row page-content">
    <main class="col-lg-10 col-md-9 col-sm-9 col-xs-12" style="padding-top: 50px;">
<h1>Welcome</h1>
<p>You've found the home of the XE Gaming System (XEGS) Cart by Cart Podcast. Our podcast is in the same vein as many other
    shows like the 5200 Super Podcast, the 2600, 7800, Lynx, Jaguar Game By Game Podcasts, and the Player/Missile Podcast,
    where each episode is dedicated to one or two games for a particular computer or gaming platform.</p>
<p>Our focus is on Atari&#8217;s last incarnation of their 8-bit computer line, the XEGS (<i>Sometimes pronounced &#8220;Zegz&#8221;</i>).
    Since the XEGS is not simply a game console (like the 2600 or 5200), and is a full-fledge computer capable of running
    almost any program available for the 8-bit computer system, we&#8217;re narrowing our focus on cartridge releases --
    treating the XEGS as a video game console. We&#8217;ll specifically be reviewing almost every XEGS-branded game that
    Atari released in 1987 and 1988, but will occasionally also talk about other cartridge-based Atari 8-bit games including
    home brew games.</p>
<p>To hear even more about Atari 8-bits as a home computer platform, check out the links under the <b>Related Podcasts</b> section.</p>
<h1>Latest News and Info</h1>
<article>
    <img src="./assets/img/episodes/Episode4.jpg" class="pull-left article-image" title="Episode 4" />
    <h2>Review Episode 4: Pac-Man Arcade, Donkey Kong, Atari's Pac-Man, Warhawk, &amp; 180!</h2>
    <time datetime="2016-10-28T05:00-07:00"><i>10/28/2016</i></time>
    <p>It's been awhile since our last episode due to summer vacations, family time, and just fun in the sun, but we hope our
        little interview episode was enough of a XEGS fix. In this episode, we review three ports of two classic arcade games,
        the new homebrew <cite>Pac-Man Arcade</cite>, Atari's original <cite>Pac-Man</cite> and <cite>Donkey Kong</cite>.
        Previous guest contributor, Kieren Hawken joins the team and brings with him two more budget games; the top down
        space shooter <cite>Warhawk</cite> and the pub dart game <cite>180!</cite>.</p>
</article>
</main>
</div>